body{
	background:url(https://t3.ftcdn.net/jpg/07/97/45/74/360_F_797457455_wSjMx13AT54f0Yl6MDF6BsJAnyxayexq.jpg);
}

#title{
	color: rgb(186, 133, 255);
}

.subtitle{
	color: rgb(219, 168, 50);
}