body{
	background :lightblue;
	font-size :1em;
	text-transform:capitalize;
	text-align:justify;
}

#title{
	color: rgba(186, 133, 255, 0.4);
	font-weight: 800;
}

.subtitle{
	color: rgb(219, 168, 50);
}

#service-image{
	height:400px;
	width:70%;

	background: radial-gradient(circle, red 20%, blue 40%, green 40%); 
}

.link{
	text-decoration: overline;
}

.italics{
	font-style : italic;
}